<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @car.currency %>
</p>

<p>
  <strong>Kilometrage:</strong>
  <%= @car.kilometrage %>
</p>

<p>
  <strong>Link:</strong>
  <%= @car.link %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
